[Unit]
Description=Auto sync pass password store
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
User=%i
ExecStart=/usr/local/bin/pass-autosync
StandardOutput=journal
StandardError=journal
# 安全加固
PrivateTmp=yes
ProtectSystem=strict
ProtectHome=read-only
ReadWritePaths=%h/.password-store %h/.local/log
NoNewPrivileges=yes

[Install]
WantedBy=multi-user.target
